$base-color: #fff;
$base-background-color: #000;

$header-background-color: #000;
$header-navitem-color: #fff;
$header-navitem-color-focus: #e0a850;

$hero-headline-color: #fff;
$hero-background-color: #fff;
$hero-text-color: #fff;

$about-headline-color: #fff;
$about-background-color: #395b74;
$about-text-color: #fff;

$albums-headline-color: #fff;
$albums-background-color: #395b74;
$albums-text-color: #fff;

$h2-text-size: 2rem;
